body::before,
body::after {
  content: '';
  position: absolute;
  z-index: -1;
  opacity:0.8
}


h1, h2, h3, h4, h5, h6 {
  font-family:'Times New Roman', Times, serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40vh 0 0 0;
  min-height: 100vh;
}

.mainDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:'Prospect';
  font-size:3rem;
}

.research{
  margin: 2rem 0;
  border-radius: 3vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  font-family: 'Helvetica';
  padding: 0 1rem;
}

.line
{
  background-color: black;
  display: flex;
  flex-direction:row;
  height:50vh;
  width: 1px;

}